@import url('https://fonts.googleapis.com/css2?family=Roboto');

.popup-component {
   font-family: 'Roboto', sans-serif;
   position: fixed;
   display: flex;
   /* width: 100%; */
}
/** default reassign **/
.popup-component p {
   margin-top: 0;
   margin-bottom: 8px;
}
.popup-component__overlay {
   width: 100%;
   height: 100%;
   background: rgba(0,0,0, .3);
}

/** variations **/
/* toast */
.popup-component .toast {
   display: flex;
   flex-direction: column;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 5px;
   padding: 16px 24px 16px 20px;
   font-size: 12px;
   /* font-weight: 500; */
   font-weight: bold;
   max-width: 270px;
   width: auto;
   position: relative;

   background: #3D8FDB;
   color: white;
}
.popup-component .toast .close {
   position: absolute;
   top: 8px;
   right: 8px;
   cursor: pointer;
}
.popup-component .toast a {
   padding: 4px 18px;
   background: white;
   color: black;
   border-radius: 55px;
   text-decoration: none;
   margin-left: auto;
}

.popup-component .toast--white {
   background: white;
   color: #4B4450;
}
.popup-component .toast--white .close path {
   stroke: #342F37;
}
.popup-component .toast--white a {
   padding: 4px 30px;
   background: transparent;
   color: #148C88;
   border-radius: 55px;
   border: 1px solid #148C88;
   text-decoration: none;
   margin-left: auto;
}

/* alert */
.popup-component .alert {
   display: inline-flex;
   flex-wrap: nowrap;
   align-items: center;
   background: #3D8FDB;
   border-radius: 5px;
   padding: 13px 28px;
   font-size: 12px;
   color: white;
   font-weight: bold;
   margin: 0px auto;
}
.popup-component .alert p {
   margin: 0px;
   margin-right: 20px;
}
.popup-component .alert a {
   padding: 4px 18px;
   background: white;
   color: black;
   border-radius: 55px;
   text-decoration: none;
   margin-right: 8px;
}
.popup-component .alert a.outline {
   border: 1px solid white;
   color: white;
   background: transparent;
}

/* modal */
.popup-component .modal {
   display: inline-flex;
   flex-direction: column;
   flex-wrap: nowrap;

   background: #FFFFFF;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 5px;


   margin: 0px auto;
   min-width: 300px;
   max-width: 460px;
   overflow: hidden;
}
.popup-component .modal--html {

   max-width: 648px;
}
.popup-component .modal .modal__body {
   padding: 18px 26px 14px;
}
.popup-component .modal--html .modal__body {
   padding: 30px 40px 14px;
}
.popup-component .modal .modal__footer {
   padding: 0px 26px 22px;
   display: flex;
   justify-content: flex-end
}
.popup-component .modal--html .modal__footer {
   padding: 0px 40px 32px;
   display: flex;
   justify-content: flex-end
}

.popup-component .modal .close {
   position: absolute;
   top: 15px;
   right: 12px;
   cursor: pointer;
}

.popup-component .modal img {
   width: 100%;
   height: auto;
   height: 160px;
   object-fit: cover;
}
.popup-component .modal h2 {
   margin: 0;
   line-height: 30px;
   font-weight: bold;
   font-size: 24px;
   color: #342F37;
   margin-bottom: 8px;
}
.popup-component .modal p {
   margin: 0;
   font-size: 14px;
   color: rgba(52, 47, 55, 0.7);
   font-weight: normal;
   line-height: 20px;
   letter-spacing: 0.3px;
}
.popup-component .modal a {
   padding: 6px 16px;
   background: #148C88;
   color: white;
   border-radius: 55px;
   text-decoration: none;
   margin-right: 8px;
}
.popup-component .modal a.outline {
   border: 1px solid #148C88;
   color: #148C88;
   background: transparent;
}


/** positioning **/
.popup-component--tl {
   top: 20px;
   left: 20px;
}
.popup-component--tr {
   top: 20px;
   right: 20px;
}
.popup-component--bl {
   bottom: 20px;
   left: 20px;
}
.popup-component--br {
   bottom: 20px;
   right: 20px;
}
.popup-component--ct {
   top: 20px;
   left: 50%;
   transform: translateX(-50%);
}
.popup-component--cc {
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
.popup-component--cb {
   bottom: 20px;
   left: 20px;
   right: 20px;
   margin: 0px auto;
}
